{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
          <small>{{=response.subtitle or ''}}</small>
        {{pass}}
      </div>
    </header>
{{end}}

<h1>All Recipes</h1>
<div style="position: absolute; top: 15px; right: 15px; font-size:1.5em">
{{if page:}}
<a href="{{=URL(args=[page-1])}}">Previous</a>
{{pass}}
{{if len(rows) > items_per_page:}}
<a href="{{=URL(args=[page+1])}}">Next</a>
{{pass}}
</div>

{{for i,row in enumerate(rows):}}
{{if i==items_per_page: break}}
    <div style="width:30%; display:inline-block; padding:1%; text-align:center; font-size:1.5em ">
    <img width="170px" border-radius="170px" src="{{=URL('download',args=rows[i].File)}}"/>
        <br/>
    {{=(A(rows[i].Title,_href=URL("show",args=rows[i].id)))}}<br/>
    </div>

{{pass}}
{{pass}}
<br><br>
